* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: auto;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.header,
.content1-wrapper,
.header-wrapper {
    color: #F9FAF8;
}

.top-color {
    background-color: #1F2937;
    min-width: 1000px;
}

.content1-wrapper {
    height: 300px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    max-width: 1000px;
    margin: auto;
}

.header-right a {
    margin-left: 10px;
}

.content1 {
    display: flex;
    max-width: 1000px;
    margin: auto;
    flex-shrink: 1;
    padding: 16px;
}

.content1 h1 {
    font-size: 48px;
    font-weight: 800;
}

.content1 p {
    color: #e4e4e4;
    font-size: 18px;
}

.signup-button {
    width: 100px;
    height: 30px;
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-weight: bold;
}

.content1 img {
    width: 400px;
    height: auto;
}

.content1-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    padding-right: 16px;
}

.content2 {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: auto;
}

.content2 h2 {
    margin: 30px auto 30px auto;
    font-size: 36px;
    color: #1F2937;
}

.content2 p {
    width: 160px;
    text-align: center;
}

.img-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content2 img {
    height: 200px;
    width: 200px;
    border: 4px solid #3882F6;
    border-radius: 12px;
}

.content2-bottom {
    margin: auto auto 102px auto;
    display: flex;
    width: 1000px;
    justify-content: space-evenly;
    flex-shrink: 0;
}

.img-text {
    width: 100px;
}


.content3-wrapper {
    height: 458px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.content3 {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
    flex-shrink: 0;
}

.bottom-color {
    background-color: #E5E7EB;
    min-width: 1000px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: rgb(88, 88, 88);

}

.quoteby {
    margin-left: 600px;
    font-weight: bold;
    font-size: 16px;
}

.signup-ad-wrapper {
    height: 350px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    min-width: 1000px;
}

.signup-ad {
    margin: auto;
    display: flex;
    width: 1000px;
    height: 150px;
    background-color: #3882F6;
    border-radius: 12px;
    justify-content: space-evenly;
    align-items: center;
    color: #e4e4e4;
    flex-shrink: 0;
}

.signup-ad h2 {
    margin-bottom: 10px;
}

.signup-button-ad {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #e4e4e4;
    border-radius: 6px;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 100px;
    color: #e4e4e4;
    min-width: 1000px;
}